<div class="row wrapper">
  <div class="row">
    <div class="small-12 small-centered columns rulesandupload">

      <div class="instructions">
        <header id="howToPlay">How to play</header>

        <p id="para3">How to play instruction.</p>
      </div> {{!-- End howToPlay --}}

      <div class="addpost">
        <header id="addPost">Add Post</header>

        <form id="addPost">
          <input type="text" placeholder="Photo URL" id="photoURL">
          <input type="text" placeholder="Answer" id="answer">
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="mdi-content-send right"></i></button>
        </form> {{!-- End addPhoto --}}
      </div> {{!-- End accordion div --}}
    </div>
  </div>
</div>

<div class="sorting">
  <label>Sort by:
    <a href="#"><input type="radio" name="sortByOption" class="sortby" value="playable">Playable</input></a>
    <a href="#unplayable"><input type="radio" name="sortByOption" class="sortby" value="unplayable">Unplayable</input></a>
    <a href="#allmyposts"><input type="radio" name="sortByOption" class="sortby" value="myPostsAll" checked="checked">My Posts - All</input></a>
    <a href="#mypostssolved"><input type="radio" name="sortByOption" class="sortby" value="myPostsSolved">My Posts - Solved</input></a>
    <a href="#mypostsnotsolved"><input type="radio" name="sortByOption" class="sortby" value="myPostsNot">My Posts - Not Solved</input></a>
  </label>
</div>

<div class="columns">

  <ul class="small-block-grid-3 posts">
    {{#each post}}

    <li class="post" data-id="{{id}}">
      <div class="postview">
        <a href="#visionQuestion/{{id}}"><img src="{{post_info.image_url}}"></a>
        <a href="#visionQuestion/{{id}}"><div class="opacity"></div></a>
        <p>Taken by: {{creator.user_name}}</p>
      </div>
    </li>

    {{/each}}
  </ul>
</div>
