<div class="score">
<h2>visionQuestion Scoreboard</h2>

<div class="scoretitle">

  <h4>Top Ten Leaders</h4>

</div>
<form>
  <ul>
    <li>User: <span>Mr Test</span> Score: <span>40</span></li>
    <li>User: <span>Test John</span> Score: <span>16</span></li>
    <li><span>{{user_name}}</span> <span>{{score}}</span></li>
    <li><span>{{score}}</span></li>
    <li><span>{{user_name}}</span></li>
    <li><span>{{score}}</span></li>
    <li><span>{{user_name}}</span></li>
    <li><span>{{score}}</span></li>
    <li><span>{{user_name}}</span></li>
    <li><span>{{score}}</span></li>
    <li><span>{{user_name}}</span></li>
    <li><span>{{score}}</span></li>
    <li><span>{{user_name}}</span></li>
    <li><span>{{score}}</span></li>
    <li><span>{{user_name}}</span></li>
    <li><span>{{score}}</span></li>
    <li><span>{{user_name}}</span></li>
    <li><span>{{score}}</span></li>
  </ul>
</form>

</div>

